html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--common-text-color);
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--important-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin-left: 30px;
  margin-top: 30px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

:root {
  --main-color: #2f303a;
  --important-text-color: #212121;
  --common-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --important-color: #ffffff;
  --accent-color: #2196f3;
  --background-color-main: #e5e5e5;
  --background-color-secondary: #f5f4fa;
  --borders-color: #eeeeee;
  --grid__item: 3;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .header-thumb {
    position: relative;
  }
}

.header {
  background-color: var(--important-color);
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  height: 80px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .site-menu.is-open {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;
    padding-left: 40px;
    background-color: var(--important-color);
  }
}

@media screen and (min-width: 768px) {
  .site-menu {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-navigation__set {
    display: block;
    background-color: var(--important-color);
  }
}

@media screen and (min-width: 768px) {
  .site-navigation__set {
    padding-left: 88px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .site-navigation__set {
    padding-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .site-navigation__item {
    padding-top: 48px;
  }
  .site-navigation__item:not(:first-child) {
    padding-top: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-navigation__item:not(:first-child) {
    margin-left: 50px;
  }
}

.site-navigation__links {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  color: var(--important-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-navigation__links:hover, .site-navigation__links:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .site-navigation__links {
    font-size: 40px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.site-navigation__links--current {
  color: var(--accent-color);
}

.site-navigation__links--current::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .site-navigation__links--current::after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding-left: 305px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item {
    font-size: 24px;
  }
  .contacts__item:last-child {
    padding-bottom: 32px;
    color: var(--accent-color);
    font-size: 34px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item {
    font-size: 12px;
    line-height: 1.16;
    padding-top: 21px;
  }
  .contacts__item:not(:first-child) {
    padding-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
  .contacts__item:not(:first-child) {
    padding-left: 30px;
    padding-top: 32px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    color: var(--common-text-color);
    text-decoration: none;
    align-items: center;
    transition: fill, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .site-menu-socials {
    display: inline-flex;
    padding-top: 64px;
    padding-bottom: 48px;
    height: fit-content;
  }
}

@media screen and (min-width: 768px) {
  .site-menu-socials {
    display: none;
  }
}

.site-menu-socials__item + .site-menu-socials__item {
  border-left: 1px solid var(--common-text-color);
  padding: 0 0 0 10px;
}

.site-menu-socials__link {
  font-size: 18px;
  color: var(--accent-color);
  text-decoration: none;
  padding: 0 10px 0 0;
}

.logo__web {
  font-family: Raleway;
  font-weight: 700;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .logo__web {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .logo__web {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .logo__web {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__studio--light {
  font-family: Raleway;
  font-weight: 700;
  color: var(--important-text-color);
}

@media screen and (max-width: 767px) {
  .logo__studio--light {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .logo__studio--light {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .logo__studio--light {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__studio--dark {
  font-family: Raleway;
  font-weight: 700;
  color: var(--important-color);
}

@media screen and (max-width: 767px) {
  .logo__studio--dark {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .logo__studio--dark {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .logo__studio--dark {
    font-size: 26px;
    line-height: 1.2;
  }
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.form-field__icon {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(16px, 35px);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .form-field__icon {
    transform: translate(15px, 25px);
  }
}

@media screen and (min-width: 1200px) {
  .form-field__icon {
    transform: translate(16px, 35px);
  }
}

.advantages__antenna-icon::before {
  background-image: url(../images/antenna_1.svg);
  background-size: 70px;
}

.advantages__clock-icon::before {
  background-image: url(../images/clock_1.svg);
  background-size: 70px;
}

.advantages__diagram-icon::before {
  background-image: url(../images/diagram_1.svg);
  background-size: 70px;
}

.advantages__astronaut-icon::before {
  background-image: url(../images/astronaut_1.svg);
  background-size: 70px;
}

.socials__set {
  display: inline-flex;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--common-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  fill: var(--important-color);
  background-color: var(--accent-color);
}

.socials__item + .socials__item {
  padding-left: 10px;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 2;
  overflow-y: scroll;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .backdrop {
    padding-top: 93px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.is-hidden {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}

.hero {
  background-color: var(--main-color);
  text-align: center;
}

.hero__title {
  padding-bottom: 40px;
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--important-color);
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6;
  }
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/Hero/hero_mob-min.png);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/Hero/hero_mob@2x-min.png);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/Hero/hero_tab-min.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/Hero/hero_tab@2x-min.png);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/Hero/hero_desktop-min.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/Hero/hero_desktop@2x-min.png);
  }
}

.modal-window {
  background-color: var(--important-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .modal-window {
    font-size: 12px;
    line-height: 1.16;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .modal-window {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-window__form {
  padding: 40px;
}

.modal-window__header {
  padding-bottom: 12px;
  font-weight: 700;
  line-height: 1.17;
  font-size: 20px;
  color: var(--important-text-color);
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 10px;
}

.form-field__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 35px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-field__input {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-field:focus-within .form-field__icon {
  fill: var(--accent-color);
}

.form-field:focus-within .form-field__comment {
  outline: none;
  border: 1px solid var(--accent-color);
}

.conditions {
  color: var(--accent-color);
}

.button--main {
  display: block;
  background-color: var(--accent-color);
  color: var(--important-color);
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.9;
  border: 1px solid var(--accent-color);
  text-align: center;
  border-radius: 4px;
  margin-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--main:active {
  box-shadow: inset 0 0 5px 3px #34495e;
}

.button--filter {
  background-color: var(--background-color-secondary);
  color: var(--important-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 75px;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button--filter:hover, .button--filter:focus {
  background-color: var(--accent-color);
  color: var(--important-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.button--close {
  display: flex;
  position: absolute;
  z-index: 2;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--important-color);
  justify-content: center;
  align-items: center;
  fill: var(--important-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close:hover, .button--close:focus {
  fill: var(--accent-color);
}

.button--subscribe {
  padding: 10px 62px 10px 29px;
  letter-spacing: 0.06em;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .button--subscribe {
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .button--subscribe {
    margin-left: 12px;
  }
}

.button--submit {
  margin-top: 30px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .site-menu__button {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 6;
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: var(--common-text-color);
  }
  .site-menu__button:hover, .site-menu__button:focus {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .site-menu__button {
    display: none;
  }
}

.site-menu__button .icon--cross {
  display: none;
}

.site-menu__button .icon--menu {
  display: block;
}

.site-menu__button.is-open .icon--cross {
  display: block;
}

.site-menu__button.is-open .icon--menu {
  display: none;
}

.checkbox__icon {
  position: absolute;
  margin-left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__checkbox {
  display: block;
  position: relative;
  text-align: end;
  margin-right: 11px;
}

.checkbox:checked + .checkbox__icon {
  position: absolute;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon_check.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.checkbox:focus-within + .checkbox__icon {
  border: 2px solid var(--accent-color);
}

@media screen and (max-width: 767px) {
  .advantages {
    --grid__item: 1;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    --grid__item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    --grid__item: 4;
  }
}

.advantages__item {
  padding-top: 0;
}

.advantages__item:not(:first-child) {
  margin-left: 30px;
}

.advantages__item::before {
  content: '';
  display: block;
  height: 120px;
  background-color: var(--background-color-secondary);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--important-text-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.work {
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__item {
  position: relative;
}

.work__caption {
  position: absolute;
  text-align: center;
  padding-top: 27px;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 1;
  color: var(--important-color);
  text-transform: uppercase;
}

.team {
  background-color: var(--background-color-secondary);
}

.team__set {
  display: flex;
}

.team__name {
  color: var(--important-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.team__position {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__item {
  display: block;
  text-align: center;
  background-color: var(--important-color);
  border: 1px solid var(--borders-color);
  border-radius: 6px;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .team__item {
    --grid__item: 1;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    --grid__item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    --grid__item: 4;
  }
}

@media screen and (max-width: 767px) {
  .clients__items {
    --grid__item: 2;
  }
}

@media screen and (min-width: 768px) {
  .clients__items {
    --grid__item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients__items {
    --grid__item: 6;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  fill: var(--common-text-color);
  border: 1px solid var(--common-text-color);
  border-radius: 4px;
  transition: fill, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer {
  background-color: var(--main-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer__main {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__main {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .footer__main {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .footer__about-us {
    text-align: center;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__about-us {
    flex-basis: calc((50% - 45px) / 2);
  }
}

.footer__join-us {
  color: var(--important-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer__join-us {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__join-us {
    text-align: start;
  }
}

@media screen and (max-width: 767px) {
  .footer__subscribe-us {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__subscribe-us {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscribe-us {
    flex-basis: calc(50% - 30px);
  }
}

@media screen and (max-width: 767px) {
  .subscribe__form {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
    justify-content: space-between;
  }
}

.subscribe__input {
  padding: 15px;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--main-color);
  border: 1px solid var(--common-text-color);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .subscribe__input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__button {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .subscribe__button {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe__icon {
    position: absolute;
    left: 158px;
    top: 16px;
    transform: translateX(10px);
  }
}

@media screen and (min-width: 768px) {
  .subscribe__icon {
    position: absolute;
    left: 158px;
    top: 16px;
    transform: translateX(10px);
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__icon {
    position: absolute;
    top: 13px;
    right: 28px;
    transform: translateX(10px);
  }
}

.footer__address {
  color: var(--important-color);
  font-style: normal;
}

.footer__contacts {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts:focus, .footer__contacts:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .footer-logo {
    padding-bottom: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    padding-bottom: 20px;
    text-align: start;
  }
}

.filter {
  padding-top: 94px;
  padding-bottom: 34px;
}

.filter__button {
  display: flex;
}

@media screen and (max-width: 767px) {
  .filter__button {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filter__button {
    justify-content: center;
  }
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:not(:first-child) {
    padding-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item {
    padding-top: 15px;
  }
}

.portfolio {
  padding-bottom: 94px;
}

.portfolio__item {
  border: 1px solid var(--borders-color);
  transition-property: box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    --grid__item: 1;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    --grid__item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    --grid__item: 3;
  }
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__overlay {
  display: block;
  position: absolute;
  padding: 63px 24px;
  top: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--important-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(-100%);
}

.portfolio__thumb {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--important-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
}

.portfolio__description {
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  color: var(--common-text-color);
}
/*# sourceMappingURL=main.css.map */