.clients__items {
  @media screen and (max-width: 767px) {
    --grid__item: 2;
  }
  @media screen and (min-width: 768px) {
    --grid__item: 3;
  }
  @media screen and (min-width: 1200px) {
    --grid__item: 6;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  height: 90px;
  fill: var(--common-text-color);
  border: 1px solid var(--common-text-color);
  border-radius: 4px;
  transition: fill, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
