:root {
  --main-color: #2f303a;
  --important-text-color: #212121;
  --common-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --important-color: #ffffff;
  --accent-color: #2196f3;
  --background-color-main: #e5e5e5;
  --background-color-secondary: #f5f4fa;
  --borders-color: #eeeeee;
  --grid__item: 3;
}
